%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name"
  .field
    = f.label :男性
    = f.radio_button :category, "男性"
    = f.label :女性
    = f.radio_button :category, "女性"
  .field
    = f.label :faculty
    %br/
    = f.select :faculty, User.facultys.keys.map {|k| [I18n.t("enums.user.facultys.#{k}"), k]}
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    %br/
    = f.label :学生
    = f.radio_button :category, "学生"
    = f.label :研究者
    = f.radio_button :category, "研究者"
  .field
    = f.label :grade
    %br/
    = f.select :grade, Student.grades.keys.map {|k| [I18n.t("enums.student.grades.#{k}"), k]}
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
