!!!
%html{lang: "ja"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %link{crossorigin: "anonymous", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", rel: "stylesheet"}/
    %link{crossorigin: "anonymous", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity: "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", rel: "stylesheet"}/
  %body
    .container
      .navbar
        %h1 応募フォーム
      %form.form-horizontal
= form_with url: entries_path, local: true do |f|
  .form-group
    = f.label :お名前, class:'col-sm-2.control-label'
    %span.label.label-danger 必須
  .col-sm-10
    %input.f.form-control{name: "SecondName", placeholder: "姓名", required: "", type: "text"}/
  %br
  .form-group
  %br
    = f.label :電話番号, class:'col-sm-2.control-label'
    %span.label.label-danger 必須
  .col-sm-10
    %input.f.form-control{name: "tel", placeholder: "電話番号", required: "", type: "tel"}/
  %br/
  .form-group
  %br
    = f.label :メールアドレス, class:'col-sm-2.control-label'
    %span.label.label-danger 必須
  .col-sm-10
    %input.form-control{name: "email", placeholder: "メールアドレス", required: "", type: "email"}/
  %br/
  .form-group
    = f.label :年齢, class :'col-sm-2.control-label'
    %span.label.label-danger 必須
  .col-sm-10
    f.select{name: "age"}
      %option{selected: "selected"} --
      %option{value: "18"} 18
      %option{value: "19"} 19
      %option{value: "20"} 20
      %option{value: "21"} 21
      %option{value: "22"} 22
      %option{value: "23"} 23
      %option{value: "24"} 24
      %option{value: "25"} 25
      %option{value: "26"} 26
      %option{value: "27"} 27
      %option{value: "28"} 28
      %option{value: "29"} 29
      %option{value: "30"} 30
      %option{value: "31"} 31
      %option{value: "32"} 32
      %option{value: "33"} 33
      %option{value: "34"} 34
      %option{value: "35"} 35
      %option{value: "36"} 36
      %option{value: "37"} 37
      %option{value: "38"} 38
      %option{value: "39"} 39
      %option{value: "40"} 40
      %option{value: "41"} 41
      %option{value: "42"} 42
      %option{value: "43"} 43
      %option{value: "44"} 44
      %option{value: "45"} 45
      %option{value: "46"} 46
      %option{value: "47"} 47
      %option{value: "48"} 48
      %option{value: "49"} 49
      %option{value: "50"} 50~
      %label 歳
  .form-group
    .col-sm-offset-2.col-sm-10
      f.button.btn.btn-default{type: "submit"} 送信する