.box_con05
  = form_with model: @entry do |f|
    = f.hidden_field :post_id, value:params[:post_id]
    %form
      %ul.formTable
        %li
          %p.title
            %em お名前
          .box_det
            %p  #{current_user.name}
        %li
          %p.title
            %em Mail（半角）
          .box_det
            %p  #{current_user.email}
        %li
          %p.title
            %em 電話番号（半角）
          .box_det
            = f.text_field :phone, class: 'form-control', placeholder: '例: 090-XXX-XXX', required: '', type: 'text'
            %span 必須
        %li
          %p.title
            %em 年齢
          .box_det
            = f.number_field :age, class: 'form-control', required: ''
            %span 必須
      .con_pri
        .box_pri
          .box_tori
            %h4 プライバシー
            %p.txt プライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシー
          .box_num
            %h4 プライバシー
            %p.txt プライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシー
          .box_num
            %h4 プライバシー
            %p.txt プライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシー
          .box_num
            %h4 プライバシー
            %p.txt プライバシープライバシープライバシープライバシープライバシープライバシープライバシープライバシー
      .box_check
        ％label
        %input{name: "terms", required: "", type: "checkbox", value: "accept"}/
        プライバシーポリシーに同意する
      %p.btn
        %span
          =f.submit '送信', class: 'btn-default'