- content_for :css do
    = stylesheet_link_tag '/posts/index'
%h1.text-center お気に入り

%table.table.table-hover
    %thead.thead-default
        - current_user.like_posts.each do |post|
            .card.mx-auto{style: "width: 400px;"}
                .card-body
                    .card-title
                        = link_to "#{post.title}", post
                    .card-description
                        = truncate(post.description, length: 90)
                    .reaction
                        -if post.is_active == false && post.recruitment_period > Date.today
                            .active 募集中
                        -else
                            .not-active 募集停止
                        .card-like
                            %div{id: "post_#{post.id}"}
                                - if current_user.liked_by?(post.id)
                                    = link_to "外す", destroy_like_path(post), class: "like-link", method: :delete, remote: true
                                    %i.fa.fa-heart.unlike-btn
                                - else
                                    = link_to "後で見る", create_like_path(post), class: "like-link", method: :post, remote: true
                                    %i.fa.fa-heart.like-btn