%h1 MyPage
%p #{@user.name}さんの応募

%tbody
    - @posts.each do |post|
        .card
            .card-body
                = link_to "#{post.title}", post
                %p #{post.description}
                -if post.is_active == true && post.recruitment_period > Date.today
                    %p 募集中
                -else
                    %p 募集停止

%tbody
    - current_user.like_posts.each do |post|
        .card
        %tr{id: "post_#{post.id}"}
            .card-body
                = link_to "#{post.title}", post
                %p #{post.description}
                -if post.is_active == true && post.recruitment_period > Date.today
                    %p 募集中
                -else
                    %p 募集停止
                %div{id: "post_#{post.id}"}
                    - if current_user.liked_by?(post.id)
                        = link_to 'いいねを外す', destroy_like_path(post), method: :delete, remote: true
                    - else
                        = link_to 'いいね', create_like_path(post), method: :post, remote: true
%tbody
    - current_user.entry_posts.each do |post|
        .card
        %tr{id: "post_#{post.id}"}
            .card-body
                = link_to "#{post.title}", post
                %p #{post.description}
                -if post.is_active == true && post.recruitment_period > Date.today
                    %p 募集中
                -else
                    %p 募集停止
                - if current_user.liked_by?(post.id)
                    = link_to 'いいねを外す', destroy_like_path(post), method: :delete, remote: true
                - else
                    = link_to 'いいね', create_like_path(post), method: :post, remote: true