- content_for :css do
  =stylesheet_link_tag 'sign_in'
#box.box__signin
  #sign_in.box-inner
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h1
        %big.main-text
          ログイン
      .box-email
        = f.label :email, "Eメール"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .box-password
        .a-row
          .column-left
            = f.label :password, "パスワード"
          .column-right
            = link_to "パスワードを忘れた場合", new_user_password_path
        = f.password_field :password, autocomplete: "current-password"
      .box-login
        .legal-text
          続行することで、tesmaの
          \#{link_to "利用規約", "/static_pages/terms"}
          に同意するものとみなされます。
        - if devise_mapping.rememberable?
          .remember
            = f.check_box :remember_me
            = f.label :remember, "ログインしたままにする"
        /= cloudflare_turnstile
        = f.submit "ログイン", class: "btn-text"
        = link_to "アカウント登録", new_user_registration_path, class: "signup-link"
        /.cf-turnstile.mb-2{style: "style: margin-left: 15px", "data-callback" => "javascriptCallback", "data-controller" => "cloudflare-turnstile", "data-sitekey" => "0x4AAAAAAABqz1goocNdpqFx"}

