= form_with model: @post, local: true do |f|
  .form-group
    = f.label :title
    %br/
    = f.text_field :title, raw: 3, class:'form-control', id: 'post_title'
  .form-group
    = f.label :description
    %br/
    = f.text_area :description, raw: 5, class:'form-control', id: 'post_description'
  .form-group
    = f.label :restriction
    %br/
    = f.text_area :restriction, raw: 3, class:'form-control', id: 'post_restriction'
  .form-group
    = f.label :caution
    %br/
    = f.text_area :caution,  raw: 3, class:'form-control', id: 'post_caution'
  .form-group
    = f.label :testing_field
    %br/
    = f.text_area :testing_field, raw: 3, class:'form-control', id: 'post_testing_field'
  .form-group
    = f.label :item
    %br/
    = f.text_area :item, raw: 3, class:'form-control', id: 'post_item'
  .form-group
    = f.label :experment_period, "実験期間"
    %br/
    = f.text_area :experment_period, raw: 3, class:'form-control', id: 'post_title'
  .form-group
    = f.label :recruitment_period, "募集期間"
    %br/
    = f.date_field :recruitment_period, raw: 3, class:'form-control', id: 'post_title'
  .form-group
    = f.label :reward
    %br/
    = f.text_area :reward, raw: 3, class:'form-control', id: 'post_reward'
  .form-group
    = f.radio_button :is_active, :true
    = f.label :is_active, "募集中"
    %br/
    = f.radio_button :is_active, :false
    = f.label :is_active, "募集停止"
    %br/
    = f.submit