%p 投稿一覧

= link_to  '新規登録', new_post_path, class: 'nav-link' if current_user.content_type == 2

.mb-3
%table.table.table-hover
    %thead.thead-default
        %tr
            %th= Post.human_attribute_name(:title)
            %th= Post.human_attribute_name(:created_at)
            %th
    %tbody
        - @posts.each do |post|
            %tr
                %td= link_to post.title, post
                %td= post.created_at
                %th
                %th
            - if post.user_id == current_user.id
                %td= link_to '編集', edit_post_path(post), class: 'btn btn-primary mr-3'
                %td= link_to '削除', post, method: :delete, data: { confirm: "ユーザ「#{post.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger'
            - else
                %td
                %td