%h1 ユーザの詳細

.nav.justify-content-end
    = link_to '一覧', posts_path, class: 'nav-link'
= stylesheet_link_tag "posts"
%table.table.table-hover
    %tbody
    %tr
        %th= Post.human_attribute_name(:id)
        %td= @post.id
    %tr
        %th= Post.human_attribute_name(:title)
        %td= @post.title
    %tr
        %th= Post.human_attribute_name(:caution)
        %td= @post.caution
    %tr
        %th= Post.human_attribute_name(:testing_field)
        %td= @post.testing_field
    %tr
        %th= Post.human_attribute_name(:item)
        %td= @post.item
    %tr
        %th= Post.human_attribute_name(:reward)
        %td= @post.reward
    %tr
        %th= Post.human_attribute_name(:created_at)
        %td= @post.created_at
    %tr
        %th= Post.human_attribute_name(:updated_at)
        %td= @post.updated_at
- if @post.user_id == current_user.id
    = link_to '編集', edit_post_path, class: 'btn btn-primary mr-3'
    = link_to '削除', @post, method: :delete, data: { confirm: "ユーザ「#{@post.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger'

%a.btn.btn-c{href: "/"} 応募する