!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Examinee
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'sign_in'
    = stylesheet_link_tag 'sign_up'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-light{style: "background-color: #D9E5FF"}
        .container-fluid
          = link_to "Tesma", posts_path, class: "navbar-brand"
          %button.navbar-toggler{"aria-controls" => "navbarScroll", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarScroll", "data-bs-toggle" => "collapse", type: "button"}
            %span.navbar-toggler-icon
          #navbarScroll.collapse.navbar-collapse
            %ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll{style: "--bs-scroll-height: 200px;"}
              - if user_signed_in?
                %li
                - if current_user.content_type == 1
                  %li.nav-item
                    = link_to likes_user_path(current_user.id), class: "nav-link" do
                      %i.far.fa-heart
                      お気に入り
                  %li.nav-item
                    = link_to entries_user_path(current_user.id), class: "nav-link" do
                      %i.far.fa-paper-plane
                      応募履歴
                - else
                  %li.nav-item
                    = link_to new_post_path,class: "nav-link" do
                      %i.far.fa-paper-plane
                      募集する
                  %li.nav-item
                    = link_to posts_user_path(current_user.id),  class: "nav-link" do
                      %i.far.fa-clone
                      過去の投稿
                %li.nav-item
                  = link_to  edit_user_registration_path, class: "nav-link" do
                    %i.fas.fa-user-circle
                    ユーザー情報更新
                %li.nav-item
                  = link_to  destroy_user_session_path, method: :get, class: "nav-link" do
                    %i.fas.fa-sign-in-alt.icon
                    ログアウト
              - else
                %li.nav-item
                  = link_to new_user_registration_path, class: "nav-link" do
                    %i.fas.fa-user-plus
                    ユーザー登録
                %li.nav-item
                  = link_to new_user_session_path, class: "nav-link" do
                    %i.fas.fa-sign-in-alt.icon
                    ログイン
    - flash.each do |key, value|
      %div{class: "alert alert-dark mx-auto} alert-dismissible fade.show", role: "alert"}
        = value
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", type: "button"}
    = render partial: 'layouts/flash'
  = yield

  %script{crossorigin: "anonymous", integrity: "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", src: "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
  %script{crossorigin: "anonymous", integrity: "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
  %script{crossorigin: "anonymous", integrity: "sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em", src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB", :src => "https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13", :src => "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"}
