!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Examinee
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'sign_in'
    = stylesheet_link_tag 'sign_up'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-light{style: "background-color: #D9E5FF"}
        .container-fluid
          %a.navbar-brand{href: "#"} Navbar scroll
          %button.navbar-toggler{"aria-controls" => "navbarScroll", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarScroll", "data-bs-toggle" => "collapse", type: "button"}
            %span.navbar-toggler-icon
          #navbarScroll.collapse.navbar-collapse
            %ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll{style: "--bs-scroll-height: 100px;"}
              - if user_signed_in?
                %li.nav-item
                  %a.nav-link.active{"aria-current" => "page", href: "#"} Home
                - if current_user.content_type == 1
                  %li.nav-item
                    %a.nav-link{href: "#"} お気に入り
                  %li.nav-item
                    %a.nav-link{href: "#"} 過去の応募
                - else
                  %li.nav-item
                    %a.nav-link{href: "#"} 過去の投稿
                %li.nav-item
                  = link_to 'プロフィール変更', edit_user_registration_path, class: "nav-link"
                %li.nav-item
                  = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link"
              - else
                %li.nav-item
                  = link_to 'サインアップ', new_user_registration_path, class: "nav-link"
                %li.nav-item
                  = link_to 'ログイン', new_user_session_path, class: "nav-link"
                %li.nav-item.dropdown
                  %a#navbarScrollingDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
                    link
                  %ul.dropdown-menu{"aria-labelledby" => "navbarScrollingDropdown"}
                    %li
                      %a.dropdown-item{href: "#"} Action
                    %li
                      %a.dropdown-item{href: "#"} Another action
                    %li
                    %hr.dropdown-divider/
                    %li
                      %a.dropdown-item{href: "#"} Something else here
                %li.nav-item
                  %a.nav-link.disabled{"aria-disabled" => "true", href: "#", tabindex: "-1"} Link
    - flash.each do |key, value|
      %div{class: "alert alert-#{key} mx-auto"}
        = value
        %button{class: "close", type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{"aria-hidden" => "true"} &times;
    = render partial: 'layouts/flash'
  = yield

  %script{crossorigin: "anonymous", integrity: "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", src: "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{crossorigin: "anonymous", integrity: "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
    %script{crossorigin: "anonymous", integrity: "sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em", src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"}

